/*--------- colors ----------*/
:root{
  --button: #6BB983;
  --aside:#1B3E3C;
  --background:#55746F;
  --header:#0C2925;
  --text-bg:#Fff;
}

/*--------- global ----------*/
  html, body{
  margin:0;
  padding:0;
  overflow:hidden;
  }
  body{
    color:#fff;
    background-color:var(--background);
    font-family: 'Thasadith', sans-serif;
    text-align: center;
    letter-spacing: 1px;
  }
  .center-container{
    width:60%;
    background-color:transparent;
    height: 95vh;
    overflow-y:auto;
    overflow-x: hidden;
  }
  .page-wrap{
    display:flex;
    
  }
  aside{
    width:400px;
    height:95vh;
    background-color:var(--aside);
    position: relative;
  }

  h4, h3, h2, h1, p{
    text-transform:capitalize;
    margin:0;
  }

  /*----------------- header ---------------*/

  header{
    background-color:var(--header);
    width:100%;
    height:5vh;
    text-align:right;
    margin-right:300px;
    position: relative;
    
  }
  header p {
    font-size:12px;
    padding-left:40px;
  }
  #header-h3{
    position: absolute;
    padding:10px;
    bottom:0;
    top:0;
    margin:auto;
    background-color: var(--header);
    left:690px;
  }
  .header-line{
    width:80%;
    background-color:#fff;
    height: 2px;
    border-radius: 50%;
    position: absolute;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin:auto;
  }
  .title-i{
    padding-left:5px;
  }

  .palette-wrap{
    position: absolute;
    right:10px;
    width:200px;
    height:100%;
    display:flex;
    justify-content: space-around;
    align-items:center;
  }
  .color-pal{
    font-size:30px;
    cursor: pointer;
  }
  .color-change{
    width:250px;
    height:100px;
    position: absolute;
    padding:10px;
    border-radius:10px;
    background-color:rgb(255, 255, 255);
    top:0;
    right:0;
    margin:auto;
    z-index: 2;
    border:solid 1px #000;
    transform: scale(0);
    opacity: 0;
    transition: .2s ease-in-out;
    display:flex;
    flex-direction: column;
    justify-content:space-around;
  }
  #exit{
    color:#000;
    position: absolute;
    top:0;
    left:10px;
    padding:5px;
    cursor: pointer;
    font-weight: 900;
    font-size:20px;
  }
  .color-change h3{
    color:#000;
    text-align: center;
  }
  .color-box-wrap{
    height:auto;
    display:flex;
    justify-content: space-around;
    
  }
  .color-box{
    border:solid 1px #000;
    width:40px;
    height:40px;
    cursor: pointer;
  }
  #red{
    background-color:#40121A;
  }
  #blue{
    background-color:#0A3B5C;
  }
  #pink{
    background-color:#361E40;
  }
  #green{
    background-color:#1B3E3C;
  }

 
   /*------------------- left aside ------------------*/
  
  .left-title{
    padding:15px 0;
  }
 
  #left-aside h3{
    padding-top:20px;
  }

  #form{
    display:flex;
    justify-content: space-around;
    flex-direction:column;
    align-items: center;
    width:100%;
    height:300px;
    margin:auto;
  }
  .imp{
    height:20px;
    width:90%;
    background:var(--text-bg);
    border: none;
    padding:5px;
  }
  #textarea{
    height: 150px;
  }
 

 
  .button{
    background-color:var(--button);
    width:90%;
    height:30px;
    border:none;
    cursor: pointer;
    color:#000;
  }

  #add{
    padding:5px;
  }
  
  
  .left-bottom-wrap{
    width:100%;
    height: auto;
    background-color:var(--aside);
    position: absolute;
    bottom:0;
    
  }

  #btn{
    cursor:pointer;
    width:150px;
    height:50px;
    font-size:18px;
    margin:50px;
  }
  
  
  #left-lnfo{
    width:90%;
    height: auto;
    border:solid 1px #fff;
    padding:20px;
    margin:20px auto;
    box-sizing: border-box;
  }
  

  .line{
    width:80%;
    background-color: #fff;
    height: 2px;
    border-radius: 50%;
    margin:auto;
  }

  .auth{
    margin:20px 0;
    color:#fff;
  }
  
  /*----------------- center container ----------------*/
  .trash{
    background-color:var(--button);
    width:50px;
    height:40px;
    color:#000;
    line-height: 40px;
    margin:1px;
  }

  .addWrap{
    display:flex;
    justify-content:center;
    align-items: center;
    cursor: pointer;
    min-width: 500px;
    width:auto;
    margin:5px auto;
  }

  #addItem{
    width:100%;
    margin:auto;
    min-height:40px;
    height:auto;
    background-color:var(--text-bg);
    color:#000;
    font-weight: 900;
    margin:1px;
    overflow: auto;
    padding:9px;
    box-sizing: border-box;
}


  .copy{
    background-color:var(--button);
    width:50px;
    height:40px;
    color:#000;
    line-height: 40px;
    margin:1px;
  }

  #list{
    width:100%;
    height:auto;
    min-height:50px;
    flex-direction: column;
    margin:50px auto;
    display:flex;
    justify-content:center;
}
  .copy:hover, .trash:hover, .button:hover, #search-btn:hover, #addItem:hover{
    background-color:#D8CECE;
  }
  .copiedText{
    margin:40px 0 20px 0;
    color:var(--button);
    opacity: 0;
    transition: .2s ease-in-out;
  }
  
 /*------------------- right aside ------------------*/

 #right-aside{
  width:900px;
  height: 95vh;
}
.right-title{
  padding:15px 0 17px 0;
}
#snippet{
  width:90%;
  height:450px;
  background-color:var(--text-bg);
  color:rgb(22, 22, 22);
  font-weight: 600;
  overflow:auto;
  margin:0 auto;
  padding:20px;
  box-sizing: border-box;
}


.right-bottom-wrap{
  width:100%;
  position: absolute;
  bottom:0;
}
#search-wrap{
  width:100%;
  display:flex;
  height:30px;
  justify-content: center;
  align-items: center;
  
}
#search-btn{
  background-color:var(--button);
  height:100%;
  width:70px;
  color:#000;
  cursor: pointer;
  border:none;
}

#copy-button{
  width:150px;
  height:50px;
  font-size:20px;
  margin:50px;
}


#search{
  width:40%;
}

  #right-info{
    width:80%;
    height:auto;
    border:solid 1px #fff;
    padding:20px;
    margin:20px auto;
  }
  
  @media(max-height: 877px){
    #copy-button{
      margin:20px;
    }
    #btn{
      margin:20px;
    }
    #left-lnfo{
      margin:0 0 20px 0;
    }
  }
  @media(max-height: 800px){
    #copy-button{
      margin:20px;
    }
    #btn{
      margin:20px;
    }
    #left-lnfo{
      margin:0 0 20px 0;
    }
    #snippet{
      height:400px;
    }
    #textarea{
      height: 100px;
    }

  }
  
 
  