
/* colors

#FF8F00     yellow
#BDD3DE     light grey


*/

html, body{
  height:100%;
}
body{
    margin:0;
    padding:0;
    color:#fff;
    background-color:rgb(87, 124, 145);
    font-family: 'Quicksand', sans-serif;
    text-align: center;
  }
  h2, h1{
    text-transform:capitalize;
    margin:0;
  }

  .container{
    width:70%;
    
    height:100%;
    margin:0 auto;
    background-color:#3F5866;
    border-left: #fff solid 0.2px;
    border-right: #fff solid 0.2px;
  }
  
  .button{
    background-color:#FF8F00;
    width:80px;
    height:30px;
    border:none;
    cursor: pointer;
  }
  #input{
    min-width:60%;
    
  }
  form{
      display:flex;
      justify-content: center;
      width:60%;
      margin:auto;
  }
  header{
    background-color:#FF8F00;
    width:100%;
    height:5vh;
    line-height:5vh;
  }
  .addWrap{
    display:flex;
    justify-content:center;
    align-items: center;
    cursor: pointer;
    min-width: 500px;
    width:auto;
    margin:5px auto;
  }
  
  #addItem{
      width:100%;
      margin:auto;
      min-height:40px;
      height:auto;
      background-color:#F0F0DF;
      color:#000;
      margin:1px;
      overflow: auto;
      padding:10px;
      box-sizing: border-box;
  }
  
  #list{
      width:100%;
      height:auto;
      min-height:50px;
      flex-direction: column;
      margin:50px auto;
      display:flex;
      justify-content:center;
  }
  #btn{
    cursor:pointer;
    width:130px;
    height:50px;
    font-size:18px;
    font-weight: 500;
    margin-bottom:50px;
  }
  .trash{
    background-color:#FF8F00;
    width:50px;
    height:40px;
    color:#000;
    line-height: 40px;
    margin:1px;
  }
  .copy{
    background-color:#FF8F00;
    width:50px;
    height:40px;
    color:#000;
    line-height: 40px;
    margin:1px;
  }
  .copy:hover, .trash:hover, .button:hover{
    background-color:rgb(177, 102, 4);
  }
  .copiedText{
    color:#FF8F00;
    padding-top:20px;
    opacity: 0;
    transition: .2s ease-in-out;
  }
  footer{
    width:100%;
    height:30vh;
    /* margin-top:240px; */
  }
  .info{
    width:40%;
    height:20vh;
    border:#F0F0DF solid 1px;
    border-radius:5px;
    margin:0 auto 40px auto;
    background-color:rgba(0, 0, 0, 0.199);
  }
  .auth{
    margin:0;
    padding:30px 0;
  }
  
  @media(max-width: 500px){
    form, .addWrap{
      width:95%;
      min-width: 0;
    }
    .container{
      width:100%;
      min-width: 0;
      border:none;
      
    }
    header{
      height:10vh;
      line-height: 10vh;
    }
    footer{
      margin:10px 0;
    }
  }